* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #bab7ef;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.submit {
  font-size: large;
  margin-bottom: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #bab7ef;
  border-color: rgb(130, 133, 207);
  border-radius: 5px;
  padding: 5px;
  color: rgb(34, 43, 111);
}

form {
  color: rgb(48, 3, 108);
  margin-left: 5rcap;
  margin-right: 5rcap;
  margin-top: 1rcap;
  margin-bottom: 1rcap;
  border: 3px solid rgb(223, 228, 248);
  border-radius: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  background-color: #596ee827;
}
.header {
  color: #5b40ad;
  text-decoration: underline dotted 5px;
}
ul {
  flex: 1 1 300px;
  color: rgb(48, 3, 108);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #b1d4f4;
  max-width: 250px;
  margin: 10px;
  padding: 10px;
  border: 3px solid #7378d9;
  border-radius: 10px;
  text-align: center;
  overflow: auto;
}

ul img {
  max-width: 100%;
  max-height: 100px;
  border-radius: 10px;
}

ul button {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #bab7ef;
  border-color: rgb(130, 133, 207);
  border-radius: 5px;
  padding: 5px;
  color: rgb(34, 43, 111);
  margin-top: 5px;
  margin-left: 3px;
  margin-right: 3px;
}
